body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:1;
	padding:0;
	margin:0;
    background-color:fffff;
}
/*Global*/
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
	}

.showcase{
	left:0;
	top:0;
	width:100%;
	height:60vh;
	animation:animate 16s ease-in-out infinite;
	background-size:cover;
	text-align:center;
	}
	.outer{
	width:100%;
height:50vh;	
	}
.details h1{
font-size:4em;
color:red;
}
.details h2{
text-transform:uppercase;
color:#fff;
font-family:monotype-corsiva
}
.details h2 span:nth-child(1){
color:orange;
}
.details h2 span:nth-child(2){
color:yellow;
}
    ul{
	margin:0;
	padding:0;
}
.button_1{
	height:38px;
	background:#e8491d;
	border:none;
	padding-left:20px;
	padding-right:20px;
	color:#ffffff;
}
.dark{
	padding:15px;
	background:#35424a;
	color:#ffffff;
	margin-top:10px;
	margin-bottom:10px;
}


/*Header**/
header{
	background:#35424a;
	color:#ffffff;
	padding-top:30px;
	min-height:70px;
	border-bottom:#e8491d 3px solid;
}
header a{
	color:#ffffff;
	text-decoration:none;
	text-transform:uppercase;
	font-size:16px;
}

header li{
	float:left;
	display:inline;
	padding:0 20px 0 20px;
}
header #branding{
	float:left;
}
header #branding h1{
	margin:0;
}
header nav{
	float:right;
	margin-top:10px;
}
header .highlight,header .current a{
	color:#e8491d;
	font-weight:bold;
}
header a:hover{
	color:#cccccc;
	font-weight:bold;
}


	/*Newsletter*/
	#newsletter{
		padding:15px;
		color:#ffffff;
		background:#35424a;
	}
	/*Newsletter*/
	#newsletter{
		padding:10px;
		color:#ffffff;
		background:#35424a;
	}
	#newsletter h1{
		float:left;
	}
	#newsletter form{
		float:right;
		margin-top:15px;
	}
	#newsletter input[type="email"]{
		padding:4px;
		height:25px;
		width:250px;
	}
	/*Boxes*/
	#boxes{
		margin-top:20px;
		color:olive;
	}
	#boxes .box{
		float:left;
		text-align:center;
		width:30%;
		padding:10px;
	}
	#boxes .box img{
		width:90px;
	}
	/*sidebar*/
	aside#sidebar{
		float:right;
		width:30%;
		margin-top:10px;
	}
	aside#sidebar .quote input, aside#sidebar .quote textarea{
		width:90%;
		padding:5px;
	}

	/*Main-col*/
	article#main-col{
		float:left;
		width:65%;
	}
	/*Services*/
	ul#services li{
		list-style:none;
		padding:20px;
		border:#cccccc solid 1px;
		margin-bottom:5px;
		background:#e6e6e6;
	}


	footer{
		padding:20px;
		margin-top:20px;
		color:#ffffff;
		background-color:#e8491d;
		text-align:center;
	}
	/*Media Queries*/
	@media(max-width: 768px){
		header #branding,
		header nav,
		header nav li,
        #newsletter h1,
        #newsletter form,
		#boxes .box,
		article#main-col,
		aside#sidebar{
			float:none;
			text-align:center;
			width:100%;
		}
		header{
			padding-bottom:20px;
		}
		#showcase h1{
			margin-top:40px;
		}
		#newsletter button, .quote button{
			display:block;
			width:100%;
		}
		#newsletter form input[type="email"],.quote input,.quote textarea{
			width:100%;
			margin-bottom:5px;
		}
	}
